@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');

// font-family: 'Raleway', sans-serif; 400, 500
// font-family: 'Open Sans', sans-serif; 700
// font-family: 'Roboto', sans-serif;  900

// Fonts 
$main-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$btn-font: 'Open Sans', sans-serif;
//font-weight
$regular: 400;
$medium-weight: 500;
$bold: 700;
$black-weight: 900;
//font-size
$main-title-size: 60px;
$main-subtitle-size: 18px;
$slider-title-size: 36px;
$slider-subtitle-size: 24px;
$slider-text-size: 14px;
$font-size-icon: 12px;

$width-icon: 30px;

// Font-color
$main-title-color: #ffcc00;
$slider-title-color: #666666;
$slider-text-color: #333333;
$main-subtitle-color: #898f8f;
$bg-color: #ffffff;
$social-icon-color: #cccccc;

$padding: 4%;

$bonfire-icon--height: 19px;



