// @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lobster&display=swap');

@font-face {
    font-family: "SantEliaRoughAlt-BoldThrDEMO";
    src: url("../assets/fonts/SantEliaRoughAlt-BoldThrDEMO.eot"); /* IE9 Compat Modes */
    src: url("../assets/fonts/SantEliaRoughAlt-BoldThrDEMO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../assets/fonts/SantEliaRoughAlt-BoldThrDEMO.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../assets/fonts/SantEliaRoughAlt-BoldThrDEMO.woff") format("woff"), /* Modern Browsers */
      url("../assets/fonts/SantEliaRoughAlt-BoldThrDEMO.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SantEliaScript-BoldDEMO";
    src: url("../assets/fonts/SantEliaScript-BoldDEMO.eot"); /* IE9 Compat Modes */
    src: url("../assets/fonts/SantEliaScript-BoldDEMO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../assets/fonts/SantEliaScript-BoldDEMO.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../assets/fonts/SantEliaScript-BoldDEMO.woff") format("woff"), /* Modern Browsers */
      url("../assets/fonts/SantEliaScript-BoldDEMO.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }


// Fonts
$santelia-rough:"SantEliaRoughAlt-BoldThrDEMO", cursive;
$santelia-script: "SantEliaScript-BoldDEMO", cursive;
$lobster: 'Lobster', cursive;
$lato: 'Lato', sans-serif;

$text-color--light: #e9e5db;
$text-color--dark: #3c3930;
$text-color--white: #ffffff;

$light: 300;
$regular: 400;
$semibold: 600;

// Colors 
$bg-color--section: #38a1d2;


// Size
@function px_to_rem($target, $context: $base-size) {
    @if $target==0 {
      @return 0;
    }
  
    @return $target / $context + 0rem;
  }
  
  $base-size: 16px;
  
  /* ---FONT SIZE--- */
  $H90: px_to_rem(90px);
  $H72: px_to_rem(72px);
  $H60: px_to_rem(60px);
  $H55: px_to_rem(55px);
  $H50: px_to_rem(50px);
  $H48: px_to_rem(48px);
  $H45: px_to_rem(45px);
  $H40: px_to_rem(40px);
  $H36: px_to_rem(36px);
  $H35: px_to_rem(35px);
  $H33: px_to_rem(33px);
  $H32: px_to_rem(32px);
  $H30: px_to_rem(30px);
  $H28: px_to_rem(28px);
  $H26: px_to_rem(26px);
  $H24: px_to_rem(24px);
  $H22: px_to_rem(22px);
  $H21: px_to_rem(21px);
  $H20: px_to_rem(20px);
  $H19: px_to_rem(19px);
  $H18: px_to_rem(18px);
  $H17: px_to_rem(17px);
  $H16: px_to_rem(16px);
  $H15: px_to_rem(15px);
  $H14: px_to_rem(14px);
  $H13: px_to_rem(13px);
  $H12: px_to_rem(12px);
  $H11: px_to_rem(11px);
  $H10: px_to_rem(10px);
  $H9: px_to_rem(9px);

  $H1-5: px_to_rem(1.5px);


