.contact {
    padding: 100px 0 120px;
    background: url('../img/contact-bg.jpg') center center no-repeat;
    background-size: cover;

    &__section-container {
        @include flex-col(center, center);
    }
    &__title {
        margin-bottom: 48px;
    }
    &__text {
        max-width: 346px;
        margin-bottom: 46px;
    }
    &__content-wrapper {
        @include flex-row;
    }
    &__data { }
    &__item {
        @include text($H17, $bold);
        margin-bottom: 10px;
        span {
            display: block;
            @include text($H20, $light);
            line-height: 1.25;
        }
    }
}
