.contact {
    padding: 100px 0 80px;
    background: url('../img/contact-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;

    &__section-container {
        @include flex-col(center, center);
    }
    &__title {
        margin-bottom: 48px;
    }
    &__text {
        max-width: 346px;
        margin-bottom: 46px;
    }
    &__content-wrapper {
        @include flex-row;
    }
    &__data { }
    &__item {
        @include text($H17, $bold);
        margin-bottom: 10px;
        a {
            display: block;
            @include text($H20, $light);
            line-height: 1.25;
            &:hover {
                color: $contact-input--focus-border;
                text-decoration: overline;
            }
        }
    }
    &__link-totop {
        display: block;
        width: 45px;
        height: 45px;
        @include flex-col(center, center);
        background-color: rgba($N0, 0.4);
        position: absolute;
        right: 25px;
        bottom: 25px;
        &:hover {
            img {
                transform: translateY(-20%);
            }
        }
    }
}
