.subscribe {
    padding: 145px 0 163px;
    background: url('../img/subscribe-bg.jpg') no-repeat;
    &__section-container {
        margin-left: 164px;
    }
    &__title {
        @include text($H40, 700);
        margin-bottom: 34px;
        text-transform: capitalize;
    }
    &__text {
        max-width: 540px;
        margin-bottom: 30px;
    }
    &__input {
        margin-right: 30px;
        min-width: 570px;
        height: 55px;
        padding: 0 15px;
        @include text($H17);
        @include border($color: $text-color);
        &::placeholder {
            @include text($H15, 300, rgba($text-color, 0.5));
        }
        &:focus {
            outline-color: $btn-green;
            border-color: $btn-green;
        }
    }
}
